<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @supplier.company_name %>から問い合わせを受け付けました。</h1>
    <p>まずは下記アドレスへ、メールを受け取ったことの返信をお願いします。</p>
    <p> <%= @supplier.email %></p>
  </body>
</html>