// Place all the styles related to the parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link {
  text-decoration: none;
}

.sub-menu {
  display: none;
}

.log-in-menu:hover .sub-menu {
  display: block;
}

.font-color {
  color:white
}

.hover-font-color:hover {
  color: red;
}

.top-title {
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}

.app-title {
  font-family: 'Oxygen', sans-serif;
  font-size: 4rem;
}

.img-height {
  height: 40vh;
  object-fit: contain;
  background-color: black;
}

.img-hover:hover {
  opacity: 0.5;
}

// swiper
.swiper-container {
  width: 600px;
  height: 300px;
}

// 新規登録フォーム

.form {
  width: 50%;
}

.must-fill {
  color: red;
}

// 部品投稿フォーム
