// Place all the styles related to the parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-title {
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}

.app-title {
  font-family: 'Oxygen', sans-serif;
  font-size: 4rem;
}

// 新規登録フォーム

.form {
  width: 50%;
}

.must-fill {
  color: red;
}
